$uni-color-1: #000000;
$uni-color-2: #ffffff;


$secondary-color: #fc5732;
$tertiary-color: #fcfbf9;
$theme-color-red: red;
$loading-color: #dcdcdc;
$before-price-color: #676767; 

$light-border-color: #ddd;

$luxury-gold-color: #FFD700;
$luxury-color: #000080;
$luxury-color-2: #00FFFF;

$success-message-color: #28a745;
$light-blue-theme-color : #e2f7fb;



$section-space: 2rem;
$section-space-large: 6rem;

$dashboard-width: 250px;


:root {
    --em-button-eff-bg-color-hover: #ffffff; /* theme-button black effect */
  }

body{
    overflow: hidden;
    overflow-y: auto;
    font-family: 'ATC Arquette';
}

.container-lg{
    max-width: 1800px;
}

// .container-sm{
//     max-width: 1500px;
// }

.ov-hidden{
    overflow: hidden;
}


h1, h2, h3, h4, p, ul, li, figure{
    margin: 0;
    padding: 0;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}
button{
    border: 0;
    background-color: transparent;
}

small{
    display: block;
}


.d_flex{
    display: flex;
}

.just-center{
    display: flex;
    justify-content: center;
}

.space-bet{
    display: flex;
    justify-content: space-between;
}

.align-center{
    display: flex;
    align-items: center;
}

.align-center-bet{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-align-center{
    text-align: center;
}

.d_none{
    display: none;
}

.w_100{
    width: 100%;
}

.red_color{
    color: $theme-color-red!important;
}

.luxury_color{
    color: $luxury-color!important;

}

.none_pointers{
    pointer-events: none!important;
}

.light-border{
    border: 1px solid #ddd;
    border-radius: 3px;
}

.alert-warning{
    background-color: $theme-color-red!important;
    color: $uni-color-2!important;
}


.alert-success{
    background-color: $success-message-color!important;
    color: $uni-color-2!important;
}

.filters-sidebar-heading{
    display: block;
    font-size: clamp(1rem, 4vw, 1.2rem);
    font-weight: normal;
}

.small-font { 
    display: block;
    font-size: calc(1rem + .2vw);
    font-weight: 300;
    margin-bottom: 2rem!important;
}

.main-hero-font {
    font-size: clamp(2.5rem, 4vw, 4.5rem);
    font-weight: normal;
    margin-bottom: 2rem;
}

.main-heading-font{
    font-size: clamp(2.5rem, 4vw, 3rem);
    font-weight: normal;
}

.main-heading-font-medium{
    font-size: clamp(1.8rem, 4vw, 2rem);
    font-weight: normal;
    color: $uni-color-1;
}

.main-heading-font-small-medium{
    font-size: clamp(1.4rem, 4vw, 1.6rem);
    font-weight: normal;
    color: $uni-color-1;
}

.rotate-arrow{
    rotate: 180deg!important;
}

.theme-button{
    background-color: $uni-color-2;
    color: $uni-color-1;
    padding: 1rem 1.5rem;
    transition: ease-in-out .5s;
    font-size: clamp(1rem, 4vw, 1.1rem);
    font-weight: normal;


    &:hover{
        background-color: $uni-color-1;
        color: $uni-color-2;
    }
}

.theme-button-black{
    position: relative;
    background-color: $uni-color-1;
    color: $uni-color-2;
    padding: 1rem 1.5rem;
    font-size: calc(1rem + .2vw);
    font-weight: normal;
    overflow: hidden;
    display: inline-block;


    &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        transform: skew(-20deg); 
        opacity: .5;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, transparent, transparent);
        transition: left 0.5s ease, transform 0.5s ease, background-image 0.5s ease; 
    }

    &:hover{

        &:after{
            left: 0;
            transform: skew(0deg);
            background-image: linear-gradient(90deg, transparent, var(--em-button-eff-bg-color-hover), transparent);

        }

    }
}

.theme-underline-button{
    color: $uni-color-1;
    font-size: clamp(1rem, 4vw, 1rem);
    transition: ease-in-out .3s;
    padding-bottom: .5rem;
    display: inline-block;
    position: relative;

            &:after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $uni-color-1;
                transition: ease-in-out .3s;
            }

    &:hover{
        color: $theme-color-red!important;
        &:after{
            background-color: $theme-color-red;
        }
    }
}

.theme-button-link{
    background-color: $uni-color-2;
    color: $uni-color-1;
    padding: 1rem 1.5rem;
    display: inline-flex;
    align-items: center;
    transition: ease-in-out .5s;
    font-size: calc(1rem + .2vw);
    font-weight: normal;

    &:hover{
        background-color: $uni-color-1;
        color: $uni-color-2;
    }
}


.links-hover{
    transition: ease-in-out .5s;
    &:hover{
        color: $secondary-color;
    }
}


.link-arrow{
    margin-left: 1rem;
    font-size: .7rem;
}


.pagination{
    li{
        &:not(:last-child){
            margin-right: 1rem;
        }
    }
}

.pagination-links{
    width: 2.5rem;
    height: 2.5rem;
    &:focus{
        outline: none !important;
        box-shadow: none !important;
    }
    &:hover{
        background-color: $uni-color-1;
        color: $uni-color-2!important;
    }
}




.pagination_active{
    background-color: $uni-color-1;
    color: $uni-color-2!important;

}

.swiper-nav-black{
    color: $uni-color-2;



}


.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
    background: $uni-color-2;
    opacity: var(--swiper-pagination-bullet-opacity, .5);

}

.swiper-pagination-bullet-active {
    background: $uni-color-2;
    opacity: var(--swiper-pagination-bullet-opacity, 1);

}



.swiper-buttons{
    .swiper-button-next{
        &::after{
            content: "\e918";
            font-family: 'icomoon';
            font-size: 1.6rem;
            text-transform: none !important;
            letter-spacing: 0;
            font-variant: initial;
            line-height: 1;
            background-color: $uni-color-2;
            color: $uni-color-1;
            padding: .3rem .5rem;
            transition: ease-in-out .5s;
        }

        &:hover{
            &::after{
                background-color: $secondary-color;
                color: $uni-color-2;
            }
        }


    
    }
    
    .swiper-button-prev{

        &::after{
        content: "\e918";
        rotate: 180deg;
        font-family: 'icomoon';
        font-size: 1.6rem;
        text-transform: none !important;
        letter-spacing: 0;
        font-variant: initial;
        line-height: 1;
        background-color:$uni-color-2;
        color: $uni-color-1;
        padding: .3rem .5rem;
        transition: ease-in-out .5s;
        }
        

        &:hover{

            &::after{
                background-color: $secondary-color;
                color: $uni-color-2;
            }
        }
    }
}


// swiper-default buttons -- start
.swiper-default{
    .swiper-button-next{

        &::after{
            content: "\e918";
            font-family: 'icomoon';
            font-size: 1rem;
            text-transform: none !important;
            letter-spacing: 0;
            font-variant: initial;
            line-height: 1;
            background-color:$uni-color-2;
            padding: .8rem;
            color: $uni-color-1;
            border-radius: 50%;
            transition: ease-in-out .5s;
        }

        &:hover{

            &::after{
                background-color: $uni-color-1;
                color: $uni-color-2;
            }
        }
    
    }
    
    .swiper-button-prev{
        &::after{
            content: "\e918";
            rotate: 180deg;
            font-family: 'icomoon';
            font-size: 1rem;
            text-transform: none !important;
            letter-spacing: 0;
            font-variant: initial;
            line-height: 1;
            background-color:$uni-color-2;
            color: $uni-color-1;
            padding: .8rem;
            border-radius: 50%;
            transition: ease-in-out .5s;
        }
        &:hover{

            &::after{
                background-color: $uni-color-1;
                color: $uni-color-2;
            }
        }

    }
}
// swiper-default buttons -- end




.product-carousel-position-icons{
    background-color: $uni-color-2;
    color: $uni-color-1;
    padding: .5rem .8rem;
    transition: ease-in-out .5s;


    &:hover{
        background-color: $uni-color-1;
        color: $uni-color-2;
    }
}

.product-carousel-shop-button{
    background-color: $uni-color-2;
    color: $uni-color-1;
    padding: .5rem .8rem;
    display: inline-flex;
    align-items: center;
    transition: ease-in-out .5s;
    font-size: calc(.7rem + .2vw);
    font-weight: 500;

    i{
        margin-right: .5rem;
    }

    &:hover{
        background-color: $uni-color-1;
        color: $uni-color-2;
    }
}


.sale-off{
    padding: .5rem .8rem;
    border-radius: 2rem;
    background-color: $secondary-color;
    color: $uni-color-2;
}

.icon-rating{
    font-size: .7rem;
    color: $uni-color-1;
}

.product-carousel-anchor{
    display: block;
    color: $uni-color-1;
    font-size: calc(1rem + .2vw);
    transition: ease-in-out .5s;


    &:hover{
        color: $secondary-color;
    }
}

.theme-tabs{
    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .nav-item {
            position: relative;
            width: 30%;
            display: flex;
            justify-content: center;

            .nav-link {
                width: 100%;
                padding-bottom: 1rem;
                color: $uni-color-1;
                font-size: calc(1rem + .2vw);
                font-weight: 400;

                &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $uni-color-1;
                    opacity: .2;

                }


            }


        }

    }

}

.theme-tabs{
    .nav-pills {
        .nav-item{
            .nav-link.active {
                color: $uni-color-1!important;
                background-color: transparent!important;   
                &::after{
                    opacity: 1!important;

            }   
      
            }
            
        }
        
    }
}


.subscribe-button{
    background-color: $uni-color-1;
    color: $uni-color-2;
    padding: .5rem 1rem;
    display: inline-flex;
    align-items: center;
    transition: ease-in-out .5s;
    font-weight: normal;
    border: 0;
    

    &:hover{
        background-color: $uni-color-2;
        color: $uni-color-1;
    }
}


.border-text{
    padding: .3rem .5rem;
    border: 1px solid $uni-color-1;
    color: $uni-color-1;
    display: inline-block;
}

.quantity-selector{
    color: $uni-color-1;
    font-weight: normal;
    font-size: calc(1.2rem + .2vw);
    border-radius: 3px;

    label{
        font-size: 1rem;
    }

    // a{
    //     color: $uni-color-1;
    //     width: 25px;
    //     height: 25px;
    //     display: inline-flex;
    //     align-items: center;
    //     justify-content: center;
    //     font-weight: normal;
    //     border-radius: 50%;
    //     transition: ease-in-out .3s;

    //     &:hover{
    //         color: $uni-color-2;
    //         background-color: $uni-color-1;
    //     }
    // }
}



.product-cards{
    figure {
        width: 100%;
        aspect-ratio: 1/1.4;
        position: relative;
        overflow: hidden;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        figcaption {
            .top-icons {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(0, 0);
                margin: 1rem 0;
                transition: ease-in-out .5s;
                transform: translateX(-100%);
                z-index: 2;

                a {
                    display: block;

                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }
                }
            }

            .quick-shop {
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translate(-50%, 0);
                margin-bottom: 1rem;
                transform: translate(-100%);
                z-index: 2;

            }

            .sale-off {
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(0, 0);
                margin: 1rem;
                z-index: 2;

            }

        }

       
        &::after {
            pointer-events: none;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $uni-color-2;
            opacity: .5;
            transform: translateX(-100%);
            transition: ease-in-out .5s;
            z-index: 1;
        }



    }

    .info {
        margin-top: 1rem;

        small {
            display: inline-block;
            font-size: calc(1rem + .2vw);
            color: $uni-color-1;
            font-weight: 500;
        }
        small.before-price{
            font-weight: 300;
            text-decoration: line-through;
            color: $before-price-color;
        }
    }

    &:hover {
        figure {
            &::after {
                transform: translateX(0);
            }

            figcaption {
                .top-icons {
                    margin: 1rem;
                    transform: translateX(0);
                }

                .quick-shop {
                    margin-left: 1rem;
                    transform: translate(0);

                }
            }
        }

    }
}

// cart and wishlist count

.count{
    position: relative;

    span{
        position: absolute;
        top: 0;
        left: 70%;            
        background-color: $theme-color-red;
        color: $uni-color-2;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(0, -50%);
    }
}


.class-prod{
    &::before {
        pointer-events:  none;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        z-index: 2!important;
        transform: translate(0, 0);
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
}

.luxury-prod{
    &::before{
        font-family: 'icomoon' !important;
        content: "\e911";
        color:  $uni-color-1;
        background-color: $luxury-color-2;
    }
}

.formal-prod{
    &::before{
        font-family: 'icomoon' !important;
        content: "\e90b";
        color: $uni-color-1;
        background-color: $uni-color-2;
    }

}



// store map


.map-content-wrapper{
    width: 50%;
    height: 100%;

    .map-content-inner{
        padding: 0;
        a{

        
            &:hover{
                svg{
                    fill: $theme-color-red;
                }
            }
        }
    
        figure{
            position: relative;
            width: 100%;
            height: 100%;

    
            img{
                width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
    
    
       
    
        }
        }
    
        svg{
            fill: cyan; 
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            transition: ease-in-out .5s;
    
        }
    }
    .store-image-map {
        width: 50%;
        min-height: 100%;

        figure {
            width: 100%;
            height: 100%;
            background-color: $loading-color;
            img {
                width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }
    }



.form-select.size_color_option{
    border: 1px solid black;
    &:focus{
        outline: none !important;
        box-shadow: none !important;
        border: 1px solid black;

    }
}

.form-select{
    cursor: pointer;
    border: 1px solid $loading-color;
    &:focus{
        outline: none !important;
        box-shadow: none !important;
        border: 1px solid $loading-color;
    }
}



// my account


.aside-section .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: $uni-color-2;
    background-color: $uni-color-1;
}


.dashboard-content-inner{
    background-color: $uni-color-2;
    padding: 2rem 1rem;
    border-radius: 20px;
    strong{
        font-weight: 500;
        font-size: calc(1rem + .2vw);
    }
}

.add-card-button{
    color: $uni-color-1;
    font-weight: 600;
}


.asideMenu-smallwidth{
    transform: translateX(-100%);
    transition: all ease-in-out .4s;

}


.dashboard-content-width{
    margin-left: 0 !important;
    transition: all ease-in-out .4s;
}