{% load custom_tags %}
{% include 'header.html' %}
<main class="main-content">
    <section class="theme-hero-section">
        <figure>
            {% for theme in site_settings_data %}
            <img src="{{theme.theme_hero_section.url}}" alt="">
            {% endfor %}
            <figcaption>
                <h4 class="main-heading-font-medium">{{cat_obj.category_name}}</h4>
            </figcaption>
        </figure>
    </section><!-- /.theme-hero-section -->
    <div class="theme-filters-container">
        <div class="container">
            <div class="theme-filters-container-inner align-center-bet">
                <button class="align-center theme-filter-button light-border" id="filter_button"><i
                        class="filter-close icon-filter-icon"></i><small>FILTER</small></button>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Sort by latest
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Sort by popularity</a></li>
                        <li><a class="dropdown-item" href="#">Sort by average rating</a></li>
                        <li><a class="dropdown-item" href="#">Sory by latest</a></li>
                    </ul>
                </div><!-- /.nav-item -->

            </div><!-- /.theme-filters-container-inner -->
        </div><!-- /.container -->
    </div><!-- /.theme-filters-container -->
    <section class="theme-product-cards">
        <div class="container">
            <div class="theme-product-cards-inner">
                <div class="row">
                    {% for c in product_by_cat_data %}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="product-cards">
                            <a href="{% url 'product-detail' c.id %}">
                                <figure>
                                    <img loading="lazy" src="{{c.Image.url}}" alt="">
                                    <figcaption>
                                        <div class="top-icons">
                                            <a href="#"><i
                                                    class="icon-favourite product-carousel-position-icons"></i></a>
                                            <a href="#"><i class="icon-compare product-carousel-position-icons"></i></a>
                                        </div><!-- /.top-icons -->
                                        <a href="#" class="product-carousel-shop-button quick-shop"><i
                                                class="icon-cart"></i>QUICK
                                            SHOP</a>
                                        {% if c.sale %}
                                        <span class="sale-off">-{{c.sale}}%</span>
                                        {% else %}
                                        <span class="d_none"></span>
                                        {% endif %}
                                    </figcaption>
                                </figure>
                            </a>
                            <div class="info">
                                <span><i class="icon-rating"></i></span>
                                <span><i class="icon-rating"></i></span>
                                <span><i class="icon-rating"></i></span>
                                <span><i class="icon-rating"></i></span>
                                <span><i class="icon-rating"></i></span>
                                <a href="{% url 'product-detail' c.id %}"
                                    class="product-carousel-anchor">{{c.product_name}}</a>
                                    {% if c.sale >= 1 %}
                                        <small class="before-price">${{c.price}}</small><span><small  class="red_color px-3">${% calculate_discount_price c.price c.sale %}</small></span>
                                        {% else %}
                                      <small>${{c.price}}</small>
                                      {% endif %}
                            </div><!-- /.info -->
                        </div><!-- /.product-cards -->
                    </div><!-- /.col-xl-3 -->
                    {% endfor %}
                </div><!-- /.row -->
            </div><!-- /.theme-product-cards-inner -->
            <div class="pagination just-center my-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div><!-- /.pagination -->
        </div><!-- /.container -->
    </section><!-- /.theme-product-cards -->
</main><!-- /.main-content -->
{% include 'footer.html' %}