{% load custom_tags %}
{% load cart_tag %}
{% include 'header.html' %}
        <main class="main-content">
            <section class="theme-hero-section">
                <figure>
                    {% for theme in site_settings_data %}
                    <img src="{{theme.theme_hero_section.url}}" alt="">
                    {% endfor %}
                    <figcaption>
                        <h4 class="main-heading-font-medium">Checkout</h4>
                    </figcaption>
                </figure>
            </section><!-- /.theme-hero-section -->
            <section class="checkout spad">
              <div class="container">
                  <form action="#" class="checkout__form">
                      <div class="row">
                          <div class="col-lg-8">
                              <h4 class="main-heading-font-small-medium">Billing detail</h4>
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                      <div class="checkout__form__input">
                                          <p>First Name <span>*</span></p>
                                          <input type="text">
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                      <div class="checkout__form__input">
                                          <p>Last Name <span>*</span></p>
                                          <input type="text">
                                      </div>
                                  </div>
                                  <div class="col-lg-12">
                                      <div class="checkout__form__input">
                                          <p>Country <span>*</span></p>
                                          <input type="text">
                                      </div>
                                      <div class="checkout__form__input">
                                          <p>Address <span>*</span></p>
                                          <input type="text" placeholder="Street Address">
                                          <input type="text" placeholder="Apartment. suite, unite ect ( optinal )">
                                      </div>
                                      <div class="checkout__form__input">
                                          <p>Town/City <span>*</span></p>
                                          <input type="text">
                                      </div>
                                      <div class="checkout__form__input">
                                          <p>Country/State <span>*</span></p>
                                          <input type="text">
                                      </div>
                                      <div class="checkout__form__input">
                                          <p>Postcode/Zip <span>*</span></p>
                                          <input type="text">
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                      <div class="checkout__form__input">
                                          <p>Phone <span>*</span></p>
                                          <input type="text">
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6">
                                      <div class="checkout__form__input">
                                          <p>Email <span>*</span></p>
                                          <input type="text">
                                      </div>
                                  </div>
                                  <div class="col-lg-12">
                                          <div class="checkout__form__input">
                                              <p>Order notes <span>*</span></p>
                                              <input type="text"
                                              placeholder="Note about your order, e.g, special note for delivery">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-4">
                                  <div class="checkout__order">
                                      <h5>Your order</h5>
                                      <div class="checkout__order__product">
                                          <ul>
                                              <li>
                                                  <span class="top__text">Product</span>
                                                  <span class="top__text__right">Total</span>
                                              </li>
                                              {% for id,value in request.session.cart.items %}
                                              <li>{{ forloop.counter }}- {{value.name}} <strong>x {{value.quantity}}</strong><br>Color: <strong>{{value.color}}</strong><br>Size: <strong> ({{value.size}})</strong><span>$ {% calculate_discount_price value.price|multiply:value.quantity value.sale %}</span></li>
                                              {% endfor %}
                                          </ul>
                                      </div>
                                      <div class="checkout__order__total">
                                          <ul>
                                            <li>Subtotal <span>$ {{total_discounted_price|floatformat:2}}</span></li>
                                            <li>Tax <span>$ {{tax_value_price|floatformat:2}}</span></li>
                                            <li>Total <span>$ {{final_price|floatformat:2}}</span></li>
                                          </ul>
                                      </div>
                                      <!-- <div class="checkout__order__widget">  
                                          <label for="paypal">
                                              PayPal
                                              <input type="checkbox" id="paypal">
                                              <span class="checkmark"></span>
                                          </label>
                                      </div> -->
                                      <button type="submit" class="theme-button-black site-btn">Place order</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
              </section>
        </main><!-- /.main-content -->
        {% include 'footer.html' %}