{% load custom_tags %}
{% load static %}
{% include 'header.html' %}

<main class="main-content">
  <section class="main-hero-section">
    <div class="main-hero-section-inner">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {% for slide in hero_slider_data %}
          <div class="swiper-slide">
            <figure>
              <img src="{{slide.image.url}}"  {% if forloop.counter == 1 %}{% else %} loading="lazy" {% endif %} alt="">
              <figcaption>
                <div class="container">
                  <div class="figcaption-inner">
                    <h2 class="main-hero-font">{{slide.title}}</h2>
                    <small>{{slide.info}}</small>
                    <a href="{% url 'shop' %}" class="theme-button-link">{{slide.link_name}}<i
                        class="icon-small-arrow link-arrow"></i></a>
                  </div><!-- /.figcaption-inner -->
                </div><!-- /.container -->
              </figcaption>
            </figure>
          </div>
          {% endfor %}
        </div>
        <div class="container swiper-buttons-container">
          <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div><!-- /.swiper-buttons -->
        </div><!-- /.container -->
        <div class="container swiper-pagination"></div>
      </div>
    </div><!-- /.main-hero-section-inner -->
  </section><!-- /.main-hero-section -->
  <section class="categories-section">
    <div class="container container-lg">
      <div class="categories-section-inner">
        <div class="row">
          {% for category in categories_data %}
          {% if forloop.counter == 2 %}
          <div class="col-md-6 col-lg-4 second-column">
            <div class="col-inner">
              <div class="center-category">
                <a href="{% url 'category' %}{{category.id}}">
                  <figure>
                    <img loading="lazy" src="{{category.cat_image.url}}" alt="">
                    <figcaption>
                      <a href="{% url 'category' %}{{category.id}}" class="theme-button">{{category.category_name}}</a>
                    </figcaption>
                  </figure>
                </a>
              </div><!-- /.center-category -->
              {% elif forloop.counter == 3 %}
              <div class="center-category">
                <a href="{% url 'category' %}{{category.id}}">
                  <figure>
                    <img loading="lazy" src="{{category.cat_image.url}}" alt="">
                    <figcaption>
                      <a href="{% url 'category' %}{{category.id}}" class="theme-button">{{category.category_name}}</a>
                    </figcaption>
                  </figure>
                </a>
              </div><!-- /.center-category -->
            </div><!-- /.col-inner -->
          </div><!-- /.col-lg-4 -->
          {% elif category.type  %}
          {% else %}
          <div class="col-md-6 col-lg-4">
            <div class="col-inner">
              <a href="{% url 'category' %}{{category.id}}">
                <figure>
                  <img loading="lazy" src="{{category.cat_image.url}}" alt="">
                  <figcaption>
                    <a href="{% url 'category' %}{{category.id}}" class="theme-button">{{category.category_name}}</a>
                  </figcaption>
                </figure>
              </a>
            </div><!-- /.col-inner -->
          </div><!-- /.col-lg-4 -->
          {% endif %}
          {% endfor %}
        </div><!-- /.row -->
      </div><!-- /.categories-section-inner -->
    </div><!-- /.container -->
  </section><!-- /.categories-section -->
  <section class="sale-section">
    <div class="container">
      <div class="sale-section-inner">
        <div class="row flex-column-reverse flex-md-row">
          <div class="col-md-4">
            {% for section in sale_section_data %}
            <div class="col-inner sale-section-content">
              <div class="inner">
                <small class="small-font sale">{{section.title}}</small>
                <h3 class="main-heading-font">{{section.heading}}</h3>
                <small class="small-font">{{section.description}}</small>
                <a href="{% url 'shop' %}" class="theme-button-black">{{section.link_button_name}}</a>
              </div><!-- /.inner -->
            </div><!-- /.col-inner -->
            {% endfor %}
          </div><!-- /.col-md-4 -->
          <div class="col-md-6 offset-md-2">
            {% for section in sale_section_data %}
            <div class="col-inner">
              <figure>
                <img loading="lazy" src="{{section.image.url}}" alt="">
              </figure>
            </div><!-- /.col-inner -->
            {% endfor %}
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
      </div><!-- /.sale-section-inner -->
    </div><!-- /.container -->
  </section><!-- /.sale-section -->
  <section class="best-seller swiper-products-carousel swiper-default">
    <div class="container">
      <div class="best-seller-inner">
        <div class="title">
          <h3 class="main-heading-font-medium">Best seller</h3>
        </div><!-- /.title -->
        <div class="swiper mySwiper2">
          <div class="swiper-wrapper">
            {% for best_seller in Product_Data %}
            {% if best_seller.product_type == 'best seller' %}
            <div class="swiper-slide product-cards">
              <a href="{% url 'product-detail' best_seller.id %}">
              <figure>
                <img loading="lazy" src="{{best_seller.Image.url}}" alt="">
                <figcaption {% if best_seller.category.type == 'LUXURY' %} class="class-prod luxury-prod" {% elif best_seller.category.type == 'FORMAL' %} class="class-prod formal-prod" {% else %}{% endif %}>
                  <div class="top-icons">
                    <a href="#"><i class="icon-favourite product-carousel-position-icons"></i></a>
                    <a href="#"><i class="icon-compare product-carousel-position-icons"></i></a>
                  </div><!-- /.top-icons -->
                  <a href="#" class="product-carousel-shop-button quick-shop"><i class="icon-cart"></i>QUICK
                    SHOP</a>
                  {% if best_seller.sale %}
                  <span class="sale-off">-{{best_seller.sale}}%</span>
                  {% else %}
                  <span class="d_none"></span>
                  {% endif %}
                </figcaption>
              </figure>
            </a>
              <div class="info">
                <span><i class="icon-rating"></i></span>
                <span><i class="icon-rating"></i></span>
                <span><i class="icon-rating"></i></span>
                <span><i class="icon-rating"></i></span>
                <span><i class="icon-rating"></i></span>
                <a href="{% url 'product-detail' best_seller.id %}"
                  class="product-carousel-anchor">{{best_seller.product_name}}</a>
                  {% if best_seller.sale >= 1 %}
                  <small class="before-price">${{best_seller.price}}</small><span><small  class="red_color px-3  {% if best_seller.category.type == 'LUXURY' %} luxury_color {% else %}{% endif %}">${% calculate_discount_price best_seller.price best_seller.sale %}</small></span>
                  {% else %}
                <small>${{best_seller.price}}</small>
                {% endif %}
              </div><!-- /.info -->
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="swiper-product-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div><!-- /.swiper-product-buttons -->
        </div>
      </div><!-- /.best-seller-inner -->
    </div><!-- /.container -->
  </section><!-- /.best-seller -->
  <section class="accessories-galery">
    <div class="container container-lg">
      <div class="accessories-galery-inner">
        <div class="swiper mySwiper3">
          <div class="swiper-wrapper">
            {% for type in categories_data %}
            {% if type.type %}
            <div class="swiper-slide">
              <figure>
                <a href="{% url 'category' %}{{type.id}}">
                  <img loading="lazy" src="{{type.cat_image.url}}" alt="">
                </a>
                <figcaption>
                  <h4>{{type.category_name}}</h4>
                  <small class="small-font">{{type.type_description}}</small>
                  <a href="{% url 'category' %}{{type.id}}" class="theme-underline-button">{{type.type_button}}<i
                      class="icon-theme-link link-arrow"></i></a>
                </figcaption>
              </figure>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div><!-- /.accessories-galery-inner -->
    </div><!-- /.container -->
  </section><!-- /.accessories-galery -->
  <hr>
  <section class="our-store">
    <div class="container">
      <div class="our-store-inner">
        <div class="title">
          <h3 class="main-heading-font-medium">Visit our store</h3>
        </div><!-- /.title -->
        <div class="store-tabs theme-tabs">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            {% for store in Our_Stores_section_data %} 
            <li class="nav-item mb-5" role="presentation">
              <button class="nav-link {% if forloop.counter == 1 %}  active {% else %} {% endif %}"  data-bs-toggle="pill" data-bs-target="#{{store.location_city}}"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">{{store.location_city}}</button>
            </li>
            {% endfor %}
          </ul>
        </div><!-- /.store-tabs -->
        <div class="store-tabs-inner">
          <div class="tab-content" id="pills-tabContent">
            {% for store in Our_Stores_section_data %}
            <div class="tab-pane fade {% if forloop.counter == 1 %} show active {% else %} {% endif %}" id="{{store.location_city}}" role="tabpanel" 
              tabindex="{{forloop.counter}}">
              <div class="store-inner">
                <div class="content-wrapper">
                  <div class="content-inner">
                    <h4>{{store.location_city}} Store</h4>
                    <span class="location">
                      <small>{{store.location}}</small>
                      <small>{{store.email}}</small>
                      <small>{{store.phone}}</small>
                    </span>
                    <span class="timing">
                      <small>{{store.timings}}</small>
                      <small>{{store.close_detail}}</small>
                    </span>
                  </div><!-- /.content-inner -->
                </div><!-- /.content-wrapper -->
                <div class="store-image">
                  <figure>
                    <img loading="lazy" src="{{store.Image.url}}" alt="">
                  </figure>
                </div><!-- /.store-image -->
              </div><!-- /.store-inner -->
            </div>
            {% endfor %}
          </div>
        </div><!-- /.store-tabs-inner -->
      </div><!-- /.our-store-inner -->
    </div><!-- /.container -->
  </section><!-- /.our-store -->
</main><!-- /.main-content -->
{% include 'footer.html' %}