{% load static %}
{% include 'header.html' %}
<main class="main-content">
  <section class="main-hero-section">
    <div class="main-hero-section-inner">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {% for slide in hero_slider_data %}
          <div class="swiper-slide">
            <figure>
              <img src="{{slide.image.url}}" alt="">
              <figcaption>
                <div class="container">
                  <div class="figcaption-inner">
                    <h2 class="main-hero-font">{{slide.title}}</h2>
                    <small>{{slide.info}}</small>
                    <a href="{% url 'shop' %}" class="theme-button-link">{{slide.link_name}}<i
                        class="icon-small-arrow link-arrow"></i></a>
                  </div><!-- /.figcaption-inner -->
                </div><!-- /.container -->
              </figcaption>
            </figure>
          </div>
          {% endfor %}
        </div>
        <div class="container swiper-buttons-container">
          <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div><!-- /.swiper-buttons -->
        </div><!-- /.container -->
        <div class="container swiper-pagination"></div>
      </div>
    </div><!-- /.main-hero-section-inner -->
  </section><!-- /.main-hero-section -->
  <section class="categories-section">
    <div class="container-fluid">
      <div class="categories-section-inner">
        <div class="row">
          {% for category in categories_data %}
          {% if category.category_col_height == 'full' %}
          <div class="col-md-6 col-lg-4">
            <div class="col-inner">
              <figure>
                <img loading="lazy" src="{{category.cat_image.url}}" alt="">
                <figcaption>
                  <a href="{% url 'category' %}" class="theme-button">{{category.category_name}}</a>
                </figcaption>
              </figure>
            </div><!-- /.col-inner -->
          </div><!-- /.col-lg-4 -->
          {% else %}
          <div class="col-md-6  col-lg-4">
            <div class="col-inner">
              <div class="center-category">
                <figure>
                  <img loading="lazy" src="{{category.cat_image.url}}" alt="">
                  <figcaption>
                    <a href="{% url 'category' %}" class="theme-button">{{category.category_name}}</a>
                  </figcaption>
                </figure>
              </div><!-- /.center-top -->
              {% if category.cat_image_half_col %}
              <div class="center-category">
                <figure>
                  <img loading="lazy" src="{{category.cat_image_half_col.url}}" alt="">

                  <figcaption>
                    <a href="{% url 'category' %}" class="theme-button">{{category.cat_half_col_name}}</a>
                  </figcaption>
                </figure>
              </div><!-- /.center-bottom -->
              {% endif %}
            </div><!-- /.col-inner -->
          </div><!-- /.col-lg-4 -->
          {% endif %}
          {% endfor %}
        </div><!-- /.row -->
      </div><!-- /.categories-section-inner -->
    </div><!-- /.container-fluid -->
  </section><!-- /.categories-section -->
  <section class="sale-section">
    <div class="container">
      <div class="sale-section-inner">
        <div class="row flex-column-reverse flex-md-row">
          <div class="col-md-4">
            <div class="col-inner sale-section-content">
              <div class="inner">
                <small class="small-font sale">SPRING SALE 30% OFF</small>
                <h3 class="main-heading-font">Effortless Denim Delights</h3>
                <small class="small-font">Discover the versatility of denim with our collection of jeans,
                  jackets</small>
                <a href="{% url 'shop' %}" class="theme-button-black">Shop Collection</a>
              </div><!-- /.inner -->
            </div><!-- /.col-inner -->
          </div><!-- /.col-md-4 -->
          <div class="col-md-6 offset-md-2">
            <div class="col-inner">
              <figure>
                <img loading="lazy" src="assets/images/sale-section.jpg" alt="">
              </figure>
            </div><!-- /.col-inner -->
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
      </div><!-- /.sale-section-inner -->
    </div><!-- /.container -->
  </section><!-- /.sale-section -->
  <section class="best-seller swiper-products-carousel swiper-default">
    <div class="container">
      <div class="best-seller-inner">
        <div class="title">
          <h3 class="main-heading-font-medium">Best seller</h3>
        </div><!-- /.title -->
        <div class="swiper mySwiper2">
          <div class="swiper-wrapper">
            {% for best_seller in Product_Data %}
            {% if best_seller.product_type == 'best seller' %}
             <div class="swiper-slide product-cards">
              <figure>
                <img loading="lazy" src="{{best_seller.Image.url}}" alt="">
                <figcaption>
                  <div class="top-icons">
                    <a href="#"><i class="icon-favourite product-carousel-position-icons"></i></a>
                    <a href="#"><i class="icon-compare product-carousel-position-icons"></i></a>
                  </div><!-- /.top-icons -->
                  <a href="#" class="product-carousel-shop-button quick-shop"><i class="icon-cart"></i>QUICK
                    SHOP</a>
                  {% if best_seller.sale %}
                  <span class="sale-off">-{{best_seller.sale}}%</span>
                  {% else %}
                  <span class="d_none"></span>
                  {% endif %}
                </figcaption>
              </figure>
              <div class="info">
                <span><i class="icon-rating"></i></span>
                <span><i class="icon-rating"></i></span>
                <span><i class="icon-rating"></i></span>
                <span><i class="icon-rating"></i></span>
                <span><i class="icon-rating"></i></span>
                <a href="{% url 'product-detail' %}" class="product-carousel-anchor">{{best_seller.product_name}}</a>
                <small>${{best_seller.price}}</small>
              </div><!-- /.info -->
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="swiper-product-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div><!-- /.swiper-product-buttons -->
        </div>
      </div><!-- /.best-seller-inner -->
    </div><!-- /.container -->
  </section><!-- /.best-seller -->
  <section class="accessories-galery">
    <div class="container-fluid">
      <div class="accessories-galery-inner">
        <div class="swiper mySwiper3">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <figure>
                <a href="#">
                  <img loading="lazy" src="assets/images/men-accessories.jpg" alt="">
                </a>
                <figcaption>
                  <h4>Accessories Galore</h4>
                  <small class="small-font">Shop through our latest selection of Fashion</small>
                  <a href="#" class="theme-underline-button">Shop collection<i
                      class="icon-theme-link link-arrow"></i></a>
                </figcaption>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <a href="#">
                  <img loading="lazy" src="assets/images/women-accessories.jpg" alt="">
                </a>
                <figcaption>
                  <h4>Accessories Galore</h4>
                  <small class="small-font">Shop through our latest selection of Fashion</small>
                  <a href="#" class="theme-underline-button">Shop collection<i
                      class="icon-theme-link link-arrow"></i></a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div><!-- /.accessories-galery-inner -->
    </div><!-- /.container-fluid -->
  </section><!-- /.accessories-galery -->
  <hr>
  <section class="our-store">
    <div class="container">
      <div class="our-store-inner">
        <div class="title">
          <h3 class="main-heading-font-medium">Visit our store</h3>
        </div><!-- /.title -->
        <div class="store-tabs theme-tabs">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">Hongkong</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">London</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Paris</button>
            </li>
          </ul>
        </div><!-- /.store-tabs -->
        <div class="store-tabs-inner">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
              tabindex="0">
              <div class="store-inner">
                <div class="content-wrapper">
                  <div class="content-inner">
                    <h4>Hongkong Store</h4>
                    <span class="location">
                      <small>301 Front St WToronto,</small>
                      <small>UrbanFlux@support.com</small>
                      <small>(08) 8942 1299</small>
                    </span>
                    <span class="timing">
                      <small>Mon - Fri, 8:30am - 10:30pm</small>
                      <small>Sunday Closed</small>
                    </span>
                  </div><!-- /.content-inner -->
                </div><!-- /.content-wrapper -->
                <div class="store-image">
                  <figure>
                    <img loading="lazy" src="assets/images/store-1.jpg" alt="">
                  </figure>
                </div><!-- /.store-image -->
              </div><!-- /.store-inner -->
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
              tabindex="0">
              <div class="store-inner">
                <div class="content-wrapper">
                  <div class="content-inner">
                    <h4>London Store</h4>
                    <span class="location">
                      <small>301 Front St WToronto,</small>
                      <small>UrbanFlux@support.com</small>
                      <small>(08) 8942 1299</small>
                    </span>
                    <span class="timing">
                      <small>Mon - Fri, 8:30am - 10:30pm</small>
                      <small>Sunday Closed</small>
                    </span>
                  </div><!-- /.content-inner -->
                </div><!-- /.content-wrapper -->
                <div class="store-image">
                  <figure>
                    <img loading="lazy" src="assets/images/store-2.jpg" alt="">
                  </figure>
                </div><!-- /.store-image -->
              </div><!-- /.store-inner -->
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
              tabindex="0">
              <div class="store-inner">
                <div class="content-wrapper">
                  <div class="content-inner">
                    <h4>Paris Store</h4>
                    <span class="location">
                      <small>301 Front St WToronto,</small>
                      <small>UrbanFlux@support.com</small>
                      <small>(08) 8942 1299</small>
                    </span>
                    <span class="timing">
                      <small>Mon - Fri, 8:30am - 10:30pm</small>
                      <small>Sunday Closed</small>
                    </span>
                  </div><!-- /.content-inner -->
                </div><!-- /.content-wrapper -->
                <div class="store-image">
                  <figure>
                    <img loading="lazy" src="assets/images/store-3.jpg" alt="">
                  </figure>
                </div><!-- /.store-image -->
              </div><!-- /.store-inner -->
            </div>
          </div>
        </div><!-- /.store-tabs-inner -->
      </div><!-- /.our-store-inner -->
    </div><!-- /.container -->
  </section><!-- /.our-store -->
</main><!-- /.main-content -->
{% include 'footer.html' %}