{% include 'header.html' %}

<main class="main-content">
    <section class="theme-hero-section">
        <figure>
            {% for theme in site_settings_data %}
            <img src="{{theme.theme_hero_section.url}}" alt="">
            {% endfor %}
            <figcaption>
                <h4 class="main-heading-font-medium">Lost Password</h4>
            </figcaption>
        </figure>
    </section><!-- /.theme-hero-section -->
    <section class="login-section">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} just-center mb-5" role="alert">
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}
            <div class="login-section-inner">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="login-section-main d_flex col-inner">
                            <div class="inner">
                                <form method="POST">
                                    {% csrf_token %}
                                    <small class="small-font title">Lost your password? Please enter your email address. You will receive a link to create a new password via email.</small>
                                    <div class="input-field login-field mb-4">
                                        <input type="text" name="username" id="login_username" required >
                                        <label>Email *</label>
                                    </div>
                                    <button type="submit" class="submit-button theme-button-black">Reset Password</button>
                                </form>
                                {% if messages %}
          <div class="alert alert-info mt-3">
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
                            </div><!-- /.inner -->
                        </div><!-- /.login-section-left -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.login-section-inner -->
        </div><!-- /.container -->
    </section><!-- /.login-section -->
</main><!-- /.main-content -->



{% include 'footer.html' %}