{% include 'header.html' %}
<main class="main-content">
    <section class="theme-hero-section">
        <figure>
            {% for theme in site_settings_data %}
            <img src="{{theme.theme_hero_section.url}}" alt="">
            {% endfor %}
            <figcaption>
                <h4 class="main-heading-font-medium">My Account</h4>
            </figcaption>
        </figure>
    </section><!-- /.theme-hero-section -->
    <div class="discount-strip">
        <div class="container">
            <div class="discount-strip-inner">
                <p class="mx-auto">10% student discount on all services.</p>
            </div><!-- /.discount-strip-inner -->
        </div><!-- /.container -->
    </div><!-- /.discount-strip -->
    <section class="main-dashboard">
        <div class="aside-section" id="asidesection">
            <div class="aside-tabs">
                <aside class="lg-hide-aside">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true"><i class="icon-cart"></i>
                                <p class="lg-hide">My Orders</p>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false"><i class="aside-icons icon-account-settings" ></i>
                                <p class="lg-hide">Account Settings</p>
                            </button>
                        </li>
                        <li>
                            <a href="{% url 'logout-user' %}" class="logout-button nav-link"><i class="icon-logout"></i><span
                                    class="lg-hide">Logout</span></a>
                        </li>
                    </ul>
                </aside>
            </div><!-- /.aside-tabs -->
        </div><!-- /.aside-section -->
        <div class="dashboard-content" id="dashboardcontentwidth">
            <div class="dashboard-inner">
                <div class="order-info">
                    <div class="name">
                        <p>Welcome</p>
                        <b>{{user.first_name}} {{user.last_name}}</b>
                    </div><!-- /.name -->
                    <a href="{% url 'shop' %}" class="new-order theme-button-black">Place new order?<span><i
                                class="icon-place-new-order-icon"></i></span></a>
                </div><!-- /.order-info -->
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active tab-1" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab" tabindex="0">
                        <div class="content-info">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="col-content-inner">
                                        <div class="content">
                                            <b>01</b>
                                            <p>Live Orders</p>
                                        </div><!-- /.content -->
                                    </div><!-- /.col-content-inner -->
                                </div><!-- /.col-md-4 -->
                                <div class="col-lg-4">
                                    <div class="col-content-inner">
                                        <div class="content">
                                            <b>05</b>
                                            <p>Completed Orders</p>
                                        </div><!-- /.content -->
                                    </div><!-- /.col-content-inner -->
                                </div><!-- /.col-md-4 -->
                                <div class="col-lg-4">
                                    <div class="col-content-inner">
                                        <div class="content">
                                            <b>02</b>
                                            <p>Cancelled Orders</p>
                                        </div><!-- /.content -->
                                    </div><!-- /.col-content-inner -->
                                </div><!-- /.col-md-4 -->
                            </div><!-- /.row -->
                        </div><!-- /.content-info -->
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                        tabindex="0">
                        <div class="account-settings">
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="col-inner dashboard-content-inner">
                                        <strong>Contact Details</strong>
                                        <hr>
                                        <div class="contact-info-section">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="left-section">
                                                        <label for="">FIRST NAME</label>
                                                        <input type="text" disabled placeholder="{{user.first_name}}">
                                                        <label for="">EMAIL ADDRESS</label>
                                                        <input type="text" disabled placeholder="{{user.email}}">
                                                    </div><!-- /.left-section -->
                                                </div><!-- /.col-lg-6 -->
                                                <div class="col-lg-6">
                                                    <div class="right-section">
                                                        <label for="">LAST NAME</label>
                                                        <input type="text" disabled placeholder="{{user.last_name}}">
                                                        <label for="">USERNAME</label>
                                                        <input type="text" disabled placeholder="{{user.username}}">
                                                    </div><!-- /.right-section -->
                                                </div><!-- /.col-lg-6 -->
                                            </div><!-- /.row -->
                                        </div><!-- /.contact-info-section -->
                                    </div><!-- /.col-inner -->
                                </div><!-- /.col-lg-8 -->
                                <div class="col-xl-4">
                                    <div class="col-inner dashboard-content-inner">
                                        <strong>Change Password</strong>
                                        <hr>
                                        <label for="">NEW PASSWORD</label>
                                        <input type="password" id="exampleInputPassword1" placeholder="enter password">
                                        <label for="">CONFIRM NEW PASSWORD</label>
                                        <input type="password" id="exampleInputPassword1"
                                            placeholder="Re-enter your new password*">
                                        <div class="update-button">
                                            <button class="theme-button-black">Update</button>
                                        </div><!-- /.update-button -->
                                    </div><!-- /.col-inner -->
                                </div><!-- /.col-lg-4 -->
                            </div><!-- /.row -->
                        </div><!-- /.account-settings -->
                    </div>
                </div>
            </div><!-- /.dashboard-inner -->
        </div><!-- /.dashboard-content -->
        </div><!-- /.container -->

    </section><!-- /.main-dashboard -->
</main><!-- /.main-content -->
{% include 'footer.html' %}