{% load custom_tags %}
{% include 'header.html' %}
{% load cart_tag %}
<main class="main-content">
    <section class="theme-hero-section">
        <figure>
            {% for theme in site_settings_data %}
            <img src="{{theme.theme_hero_section.url}}" alt="">
            {% endfor %}
            <figcaption>
                <h4 class="main-heading-font-medium">{{url_name}}</h4>
            </figcaption>
        </figure>
    </section><!-- /.theme-hero-section -->
    {% if request.session.cart|length == 0 %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6  mx-auto">
                    <div class="inner my-5 text-align-center">
                        <h4 class="pb-3">Shopping Cart is empty.</h4>
                        <p class="pb-5">You don't have any products in the shopping cart yet. You will find a lot of interesting products on our "Shop" page.</p>
                        <a href="{% url 'shop' %}" class="theme-button-black">Return to shop</a>
                    </div><!-- /.inner -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    {% else %}
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for id,value in request.session.cart.items %}
                                <tr>
                                    <td class="cart__product__item" >
                                        <img src="{{value.image}}" alt="">
                                        <div class="cart__product__item__title">
                                            <h5>{{value.name}}</h5>
                                            <h6>Size: {{value.size}}</h6>
                                            <h6>Color: {{value.color}}</h6>                                       
                                        </div>
                                    </td>
                                    <td class="cart__price">$ {% calculate_discount_price value.price value.sale %}</td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                            <form action="{% url 'item_decrement' value.product_id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="size" value="{{ value.size }}">
                                                <input type="hidden" name="color" value="{{ value.color }}">
                                                {% if value.quantity == 1 %}
                                                <button class="qtybtn inc d_none" type="submit">-</button>     
                                                {% else %}    
                                                <button class="qtybtn inc" type="submit">-</button>     
                                                {% endif %} 
                                             </form>
                                            <span>{{value.quantity}}</span>
                                            <form action="{% url 'item_increment' value.product_id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="size" value="{{ value.size }}">
                                                <input type="hidden" name="color" value="{{ value.color }}">
                                                {% if value.quantity == value.stock %}
                                                <button class="qtybtn inc d_none" type="submit">+</button>     
                                                {% else %}
                                                <button class="qtybtn inc" type="submit">+</button>        
                                                {% endif %}     
                                             </form>
                                        </div>
                                    </td>
                                    <td class="cart__total">$ {% calculate_discount_price value.price|multiply:value.quantity value.sale %}</td>
                                    <form action="{% url 'item_clear' value.product_id %}" method="POST">
                                        {% csrf_token %}
                                    <td class="cart__close">
                                        <input type="hidden" name="size" value="{{ value.size }}">
                                        <input type="hidden" name="color" value="{{ value.color }}">
                                        <button class="remove-product" type="submit"><i class="icon-close-icon"></i></button>             
                                    </td>
                                </form>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="{% url 'shop' %}" class="theme-button-black">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="{% url 'cart_clear' %}" class="theme-button-black"><span class="icon_loading"></span>Clear cart</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-lg-6">
                          <div class="discount__content">
                              <h6>Discount codes</h6>
                              <form action="#">
                                  <input type="text" placeholder="Enter your coupon code">
                                  <button type="submit" class="coupon-button theme-button-black">Apply</button>
                              </form>
                          </div>
                      </div> -->
                <div class="col-lg-5 offset-lg-7">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>$ 120</span></li>
                            <li>Tax <span>5</span></li>
                            <li>Total <span>$ 750.0</span></li>
                        </ul>
                        <a href="{% url 'checkout' %}" class="theme-button-black">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</main><!-- /.main-content -->
{% include 'footer.html' %}