{% load static %}
{% include 'header.html' %}
        <main class="main-content">
            <section class="theme-hero-section">
                <figure>
                    <img src="./assets/images/theme-hero-section.jpg" alt="">
                    <figcaption>
                        <h4 class="main-heading-font-medium">New Arrival</h4>
                    </figcaption>
                </figure>
            </section><!-- /.theme-hero-section -->
            <div class="theme-filters-container">
                <div class="container">
                    <div class="theme-filters-container-inner align-center-bet">
                        <button class="align-center theme-filter-button light-border" id="filter_button"><i
                                class="filter-close icon-filter-icon"></i><small>FILTER</small></button>
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Sort by latest
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Sort by popularity</a></li>
                                    <li><a class="dropdown-item" href="#">Sort by average rating</a></li>
                                    <li><a class="dropdown-item" href="#">Sory by latest</a></li>
                                </ul>
                            </div><!-- /.nav-item -->
                            
                    </div><!-- /.theme-filters-container-inner -->
                </div><!-- /.container -->
            </div><!-- /.theme-filters-container -->
            <section class="theme-product-cards">
                <div class="container">
                    <div class="theme-product-cards-inner">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="product-cards">
                                    <figure>
                                        <img loading="lazy" src="{% static 'assets/images/prod-1.jpg' %}" alt="">
                                        <figcaption>
                                            <div class="top-icons">
                                                <a href="#"><i
                                                        class="icon-favourite product-carousel-position-icons"></i></a>
                                                <a href="#"><i
                                                        class="icon-compare product-carousel-position-icons"></i></a>
                                            </div><!-- /.top-icons -->
                                            <a href="#" class="product-carousel-shop-button quick-shop"><i
                                                    class="icon-cart"></i>QUICK
                                                SHOP</a>
                                            <span class="sale-off">-36%</span>
                                        </figcaption>
                                    </figure>
                                    <div class="info">
                                        <span><i class="icon-rating"></i></span>
                                        <span><i class="icon-rating"></i></span>
                                        <span><i class="icon-rating"></i></span>
                                        <span><i class="icon-rating"></i></span>
                                        <span><i class="icon-rating"></i></span>
                                        <a href="{% url 'product-detail' %}" class="product-carousel-anchor">V-neck linen Shirt</a>
                                        <small>$18.00</small>
                                    </div><!-- /.info -->
                                </div><!-- /.product-cards -->
                            </div><!-- /.col-xl-3 -->
                        </div><!-- /.row -->
                    </div><!-- /.theme-product-cards-inner -->
                    <div class="pagination just-center my-5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                          </nav>
                    </div><!-- /.pagination -->
                </div><!-- /.container -->
            </section><!-- /.theme-product-cards -->
        </main><!-- /.main-content -->
        

        {% include 'footer.html' %}