{% include 'header.html' %}
        <main class="main-content">
            <section class="theme-hero-section">
                <figure>
                    {% for theme in site_settings_data %}
                    <img src="{{theme.theme_hero_section.url}}" alt="">
                    {% endfor %}
                    <figcaption>
                        <h4 class="main-heading-font-medium">Register</h4>
                    </figcaption>
                </figure>
            </section><!-- /.theme-hero-section -->
            <section class="login-section">
                <div class="container">
                    <div class="login-section-inner">
                        <div class="row">
                            <div class="col-lg-6 mx-auto">
                                <div class="login-section-main col-inner">
                                    <div class="inner">
                                        <p class="mb-4">Sign up for early Sale access plus tailored new arrivals, trends and promotions. To opt out, click unsubscribe in our emails.</p>
                                        <form method="post" action="{% url 'register-user' %}">
                                            {% csrf_token %}
                                            <div class="input-field login-field">
                                                <input type="text" id="register_fname" name="first_name" required>
                                                <label>First Name *</label>
                                            </div>
                                            <div class="input-field login-field">
                                                <input type="text" id="register_lname" name="last_name" required>
                                                <label>Last Name *</label>
                                            </div>
                                            <div class="input-field login-field">
                                                <input type="text" id="register_username" name="username" required>
                                                <label>Username *</label>
                                            </div>
                                            <div class="input-field login-field">
                                                <input type="text" id="register_email" name="email" required>
                                                <label>Email address *</label>
                                            </div>
                                            <div class="input-field login-field">
                                                <input type="password" id="register_password" name="password" required>
                                                <label>Password *</label>
                                            </div>
                                            <!-- <div class="input-field login-field mb-5">
                                                <input type="password" id="register_rpassword" name="rpassword" required>
                                                <label>Re-enter Password *</label>
                                            </div> -->
                                            <div class="forget">
                                                <a href="{% url 'login' %}" class="lost-password theme-underline-button"><small>Already have an account? Log in here</small></a>
                                            </div>
                                            <button type="submit" class="submit-button theme-button-black">Register</button>
                                            
                                        </form>
                                    </div><!-- /.inner -->
                                </div><!-- /.login-section-left -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.login-section-inner -->
                </div><!-- /.container -->
            </section><!-- /.login-section -->
        </main><!-- /.main-content -->
        {% include 'footer.html' %}